<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- DB Connector   - Activate for Production Server deploys˙
    <add key="WebDirectorConnectString" value="http://db1.orderit.ca/cgi-bin/fccgi.exe" /> 
    <add key="w3exec" value="d3director_orderit-2" />
    <add key="account" value="orderit-2" />
    <add key="w3ServerPool" value="web" />-->
    <!-- DB Connector   - Activate for Zumasys Production Server deploys˙-->
    <!--<add key="WebDirectorConnectString" value="http://10.24.54.40/cgi-bin/fccgi.exe" /> 
    <add key="w3exec" value="d3director_orderit-2" />
    <add key="account" value="orderit-2" />
    <add key="w3ServerPool" value="web" />-->
    <!-- DB Connector  - Activate for DEV and Staging Server deploys-->
    <add key="WebDirectorConnectString" value="http://204.225.175.12/cgi-bin/fccgi.exe"/>
    <add key="w3exec" value="d3director_forge-dev"/>
    <add key="account" value="forge-dev"/>
    <add key="w3ServerPool" value="default"/>
  </appSettings>
</configuration>